<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wepresent.wepresent" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>


    <permission
        android:name="wepresent.wepresent.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="wepresent.wepresent.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <activity android:name="LauncherHubThing" android:theme="@style/MyNavigationDrawerTheme" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/menuthing"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyNavigationDrawerTheme" >
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.codepath.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMMessageHandler" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".SingleQuestionView"
            android:label="SingleQuestionViewActivity"
            android:theme="@style/AppTheme.Base.NoNavigation" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".QuizView" -->
        <!-- android:label="@string/title_activity_quiz_view" > -->
        <!-- </activity> -->
        <activity
            android:name=".LauncherHubThing"
            android:label="LauncherHubThing" >
        </activity>
        <activity
            android:name=".SlideViewActivity"
            android:label="SlideViewActivity"
            android:theme="@style/AppTheme.Base.NoNavigation" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".SlideView" -->
        <!-- android:label="SlideView" > -->
        <!-- </activity> -->
        <activity
            android:name=".SessionActivity"
            android:label="@string/title_activity_session"
            android:theme="@style/AppTheme.Base.NoNavigation">
        </activity>
        <activity
            android:name=".PoseQuestion"
            android:label="Pose question"
            android:theme="@style/AppTheme.Base.NoNavigation">
        </activity>
        <activity
            android:name=".SessionManagement"
            android:theme="@style/AppTheme.Base.NoNavigation"
            android:label="@string/title_activity_session_management" >
        </activity>
        <activity
            android:name=".addQuestionActivity"
            android:theme="@style/AppTheme.Base.NoNavigation"
            android:label="addQuestionActivity" >
        </activity>
    </application>

</manifest>
