<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wepresent.wepresent" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="wepresent.wepresent.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="wepresent.wepresent.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base" >
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.codepath.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMMessageHandler" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".QuizView"
            android:label="@string/title_activity_quiz_view" >
        </activity>
        <activity
            android:name=".LauncherHubThing"
            android:label="LauncherHubThing">
        </activity>
        <activity
            android:name=".SlideViewActivity"
            android:label="SlideViewActivity">
        </activity>
        <activity
            android:name=".SlideView"
            android:label="SlideView">
        </activity>

    </application>

</manifest>
